@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Oswald&display=swap");

:root {
  --primary-color: #06255d;
  --secondary-color: #f83b76;
  --main-font-family: "Oswald", sans-serif;
  --transition: 400ms all ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(246, 187, 187) 0%,
    rgb(249, 219, 217) 90%
  );
  font-family: var(--main-font-family);
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.light {
  opacity: 0.7;
}

.display_none {
  display: none;
}

.hero {
  width: 600px;
  margin: 40px auto;
  border-radius: 8px;
  background-color: #e5eef3;
}

.primary_content {
  padding: 60px 40px;
}

.secondary_content {
  padding: 35px 40px;
}

.greating-text {
  font-family: "Carattere", cursive;
  font-size: 36px;
  color: var(--secondary-color);
}

.hero h2 {
  color: var(--primary-color);
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.2;
}

.hero h2 span {
  color: var(--secondary-color);
  text-transform: none;
  display: block;
}

.hero__image {
  display: block;
  margin: 20px auto;
}

.summary-text {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.hero__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: var(--transition);
}

.secondary_image {
  width: 400px;
}

.hero__btn:hover {
  background-color: var(--secondary-color);
  box-shadow: rgba(6, 37, 93, 0.35) 0px 5px 15px;
}

.hero__heading {
  display: flex;
}

.hero__heading img {
  width: 100px;
  align-self: flex-start;
}

.hero__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.date-box {
  width: 100%;
}

.date-box h3 {
  color: var(--secondary-color);
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.date-box .date-content {
  display: flex;
  gap: 30px;
}

.icon {
  width: 100px;
  transition: transform 0.8s;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.form {
  display: flex;
  gap: 10px;
  height: 100%;
  align-self: center;
}

.form input {
  padding: 10px 15px;
  background-color: #e5eef3;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  transition: var(--transition);
  width: 160px;
}

.form input:hover {
  box-shadow: rgba(6, 37, 93, 0.35) 0px 5px 15px;
}

.form input:focus {
  outline: none;
  box-shadow: 0px 1px 2px 0px rgba(6, 37, 93, 0.7),
    1px 2px 5px 0px rgb(6 37 93 / 0%), 2px 0px 4px 0px rgb(6 37 93 / 0%),
    2px 1px 16px 0px rgb(6 37 93 / 50%);
}

.check_box {
  display: flex;
  padding: 0 40px;
  margin-top: 15px;
}

.check_box label {
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

.check_box input {
  margin-right: 20px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_box input::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  color: var(--primary-color);
  font-size: small;
  display: none;
}

.check_box input:checked::after {
  display: block;
}

.select-box {
  align-items: center;
  display: flex;
  gap: 30px;
  position: relative;
}

.select-box label {
  font-size: 18px;
  color: var(--primary-color);
  padding: 10px 15px 3px 15px;
  width: 160px;
}

.select-box select {
  font-size: 16px;
  font-family: var(--main-font-family);
  padding: 10px 15px 5px 5px;
  box-shadow: rgba(6, 37, 93, 0.35) 0px 5px 15px;
  height: 100%;
  width: 160px;
  background-color: #e5eef3;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.select-arrow {
  display: block;
  width: 20px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: -3px;
  right: 0;
  border: none;
  pointer-events: none;
}

.select-arrow::before,
.select-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 40%;
  left: 20%;
}

.select-arrow::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--primary-color);
}

.select-box select:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.select-box option[value] {
  opacity: 0.6;
}

.count_box {
  margin: 0 auto;
}

.count_option input[type="radio"] {
  appearance: none;
  width: 120px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  transition: var(--transition);
}

.count_option input[type="radio"]:hover {
  cursor: pointer;
  box-shadow: rgba(6, 37, 93, 0.35) 0px 5px 15px;
}

.count_option input[type="radio"]::after {
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: var(--transition);
  display: flex;
  justify-content: center;
}

.count_option input[type="radio"]:checked::after {
  background-color: var(--secondary-color);
  box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 20px #fff;
}

.count_option input[type="radio"]:focus:not(:focus-visible) {
  outline: none;
  box-shadow: rgba(6, 37, 93, 0.35) 0px 5px 15px;
}

.count_option input[type="radio"]:nth-of-type(1)::after {
  content: "days";
}

.count_option input[type="radio"]:nth-of-type(2)::after {
  content: "hours";
}

.count_option input[type="radio"]:nth-of-type(3)::after {
  content: "minutes";
}

.count_option input[type="radio"]:nth-of-type(4)::after {
  content: "seconds";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.result {
  display: flex;
  align-items: center;
  width: 96%;
}

.result_box {
  width: 100%;
  color: var(--primary-color);
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0.8;
  transition: var(--transition);
}

.result_box:hover {
  box-shadow: rgba(6, 37, 93, 0.35) 0px 5px 15px;
}

.last-results {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.last-results_box {
  font-size: 18px;
  width: 100%;
  color: var(--primary-color);
  height: 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: var(--transition);
}

.plus-icon {
  cursor: pointer;
}

.text {
  color: var(--secondary-color);
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

.storage-box {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -30px;
  display: none;
}

.storage-item,
.storage-data {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 41px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: var(--transition);
}

.storage-data {
  font-weight: 700;
  display: none;
  margin-top: -30px;
}

.item,
.heading-item {
  width: 100%;
  height: 40px;
  color: var(--primary-color);
  border-right: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0.8;
  transition: var(--transition);
  margin-bottom: 10px;
}

.item:nth-child(3),
.heading-item:nth-child(3) {
  border-right: none;
}

.red {
  color: var(--secondary-color);
}

.blue {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .hero {
    width: 90%;
    max-width: 100%;
  }

  .primary_content {
    padding: 20px;
  }

  .secondary_content {
    padding: 20px 10px;
  }

  .count_box {
    width: 100%;
  }

  .count_option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .radio_btn {
    justify-self: center;
  }
  .count_option input[type="radio"] {
    width: 150px;
  }

  .date-box .date-content {
    gap: 0;
  }

  .select-box {
    gap: 0;
  }

  .count_option input[type="radio"]:nth-child(1) {
    justify-self: flex-end;
  }

  .count_option input[type="radio"]:nth-child(2) {
    justify-self: flex-start;
  }

  .count_option input[type="radio"]:nth-child(3) {
    justify-self: flex-end;
  }

  .count_option input[type="radio"]:nth-child(4) {
    justify-self: flex-start;
  }

  .last-results_box {
    line-height: 1.2;
  }
}

@media (max-width: 525px) {
  .select-box {
    gap: 0;
    align-self: center;
  }

  .select-box label {
    max-width: 100%;
    padding: 10px 10px 3px 5px;
    width: auto;
  }
  .date-box .date-content {
    justify-content: center;
    gap: 0;
  }

  .check_box {
    padding: 0;
    justify-content: center;
  }

  .form input {
    width: auto;
  }

  .result {
    padding: 0 20px;
  }

  .item,
  .heading-item {
    padding: 0;
  }
}

@media (max-width: 485px) {
  .form {
    gap: 5px;
  }
  .select-box select {
    width: 140px;
  }

  .icon {
    width: 80px;
  }

  .result {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .hero {
    max-width: 100%;
  }
  .secondary_image {
    max-width: 100%;
  }

  .icon {
    width: 70px;
  }

  /* .date-box {
    width: auto;
  }*/

  .form {
    gap: 5px;
  }

  .form input {
    padding: 10px 10px;
    width: 120px;
  }

  .select-box select {
    width: 120px;
  }

  .select-box {
    gap: 0;
    /*align-self: flex-start;*/
  }

  .result-icon {
    width: 70px;
  }

  .select-arrow {
    top: -1px;
  }

  .result_box {
    padding: 10px;
  }

  .item {
    line-height: 1.2;
    text-align: center;
  }
}
